

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Vanila Sözlük</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Recognize Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/webHome/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link href="~/AdminLTE-3.0.4/webHome/css/simpleLightbox.css" rel='stylesheet' type='text/css' />
    <link href="~/AdminLTE-3.0.4/webHome/css/roadmap.css" rel="stylesheet" type="text/css" />
    <!-- Banner-Slider-CSS -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/webHome/css/snow.css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/webHome/css/aos.css">
    <link href='~/AdminLTE-3.0.4/webHome/css/aos-animation.css' rel='stylesheet prefetch' type="text/css" media="all" />
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/webHome/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/webHome/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <!-- //Fonts -->

</head>

<body>
    <!-- mian-content -->
    <header class="index-banner" id="home">
        <!-- nav -->
        <nav class="main-header d-flex">
            <div id="brand">
                <div id="logo">
                    <a href="/Home/HomePage/">
                        <i class="fas fa-crosshairs"></i>
                    </a>
                </div>
                <div id="word-mark">
                    <h1>
                        <a href="/Home/HomePage/">Vanila</a>
                    </h1>
                </div>
            </div>
            <div id="menu">
                <div id="menu-toggle">
                    <div id="menu-icon">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
                <ul class="text-center nav-honey">
                    <li>
                        <a class="active" href="#home">Ana Sayfa</a>
                    </li>
                    <li>
                        <a class="scroll" href="#about">Geliştirme Araçları</a>
                    </li>
                    <li>
                        <a class="scroll" href="#services">Hakkında</a>
                    </li>
                    <li>
                        <a class="scroll" href="#experience">Yol Haritası</a>
                    </li>

                    <li>
                        <a class="scroll" href="#projects">Görseller</a>
                    </li>
                    <li>
                        <a class="scroll" href="#contact">İletişim</a>
                    </li>
                    <li>
                        <a href="/Home/Headings/1">Sözlük</a>
                    </li>
                    <li class="login">
                        <button type="button" class="btn login-btn text-uppercase " data-toggle="modal" data-target="#exampleModalCenter">
                            Giriş Yap
                        </button>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </nav>
        <!-- //nav -->
        <!-- banner -->
        <div class="banner_section">
            <div class="snow-container">
                <div class="snow foreground"></div>
                <div class="snow foreground layered"></div>
                <div class="snow middleground"></div>
                <div class="snow middleground layered"></div>
                <div class="snow background"></div>
                <div class="snow background layered"></div>
            </div>
            <div class="banner-info text-uppercase">
                <h6 data-aos="fade-right">Giriş</h6>
                <h5 data-aos="fade-right">Merhaba, Sözlüğe Hoş Geldiniz</h5>
                <h3 data-text="Vanila">Vanila</h3>
                <div class="ban-buttons mt-3" data-aos="fade-right">
                    <a class="btn work scroll" href="#projects">Görseller</a>
                    <a class="btn work scroll active" href="#contact">Bize Ulaşın</a>
                </div>

            </div>
        </div>
        <!-- //banner -->
    </header>
    <!-- //header -->
    <!--// banner-slider -->
    <!-- banner-bottom-wthree -->
    <section class="banner-bottom-wthree py-lg-5 py-md-5 py-4" id="about">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-4">
                <div class="info-about text-center">
                    <h4 class="sub-tittle-w3">Teknik Detaylar  </h4>
                    <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3">Kullanılan Geliştirme Bileşenleri</h3>
                    <div class="row mt-lg-5 mt-3">
                        <div class="col-lg-4 progress-info-content text-left">
                            <div class="progress-one my-lg-5" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">C#</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-one" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">Entity Framework Code First</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 68%" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 progress-info-content text-left">
                            <div class="progress-one my-lg-5" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">ASP.NET MVC</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-one" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">SOLID</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 progress-info-content text-left">
                            <div class="progress-one my-lg-5" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">Katmanlı Mimari</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-one" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">
                                    SQL
                                </h4>
                                <div class="progress">

                                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// ab -->
    <!-- /services -->
    <section class="services py-md-5 py-4" id="services">
        <div class="container">
            <div class="inner-sec-w3ls py-md-5 py-4">
                <h4 class="sub-tittle-w3 text-uppercase text-center">Proje Hakkında</h4>
                <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">Neler Yaptım ?</h3>
                <div class="price-right">
                    <div class="tabs">
                        <ul class="nav nav-pills my-md-5 my-3 justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Yapılanlar</a>
                            </li>


                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class="menu-grids mt-4">
                                    <div class="row t-in">
                                        <div class="col-lg-3 service-in text-center" data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-list-ul mb-4"></i>
                                                    <h5 class="card-title text-uppercase">SQL Veri Tabanı</h5>
                                                    <p class="card-text">Projede veri tabanı olarak MSSQL kullanıldı. Sunucuya taşırken Windows hosting desteği olan bir sunucu kullanıldı.</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-3 service-in text-center" data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="far fa-lightbulb mb-4"></i>
                                                    <h5 class="card-title text-uppercase">Tasarım Araçları</h5>
                                                    <p class="card-text">Projenin ön yüzünde(frontend) tarafında HTML 5, CSS 3, Bootstrap, JavaScript ve Jquery gibi bileşenlere yer verildi.</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-3 service-in text-center" data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="far fa-clone mb-4"></i>
                                                    <h5 class="card-title text-uppercase">Geliştirme Araçları</h5>
                                                    <p class="card-text">Projenin arka tarafında(backend) web uygulama gelişimi olan ASP.NET MVC 5 kullanılmıştır.</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-3 service-in text-center">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-magic mb-4"></i>
                                                    <h5 class="card-title">N Katmanlı Mimari</h5>
                                                    <p class="card-text">Kurumsal mimariye uygun olarak Business, Data Acces, Entity ve Presentation olmak üzere 4 katmanda gerçekleştirilmiştir.</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //services -->
    <!-- /experience -->
    <section class="experience py-lg-5 py-4" id="experience">
        <div class="timeline py-lg-5 py-3">
            <h4 class="sub-tittle-w3 text-uppercase text-center">Experience</h4>
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Job & Education</h3>
            <div id="my-timeline"></div>
        </div>

    </section>
    <!-- //experience -->
    <!--gallery  -->
    <section class="gallery py-md-5 py-3" id="projects">
        <div class="gallery-inner container py-md-5 pb-3">
            <h4 class="sub-tittle-w3 text-uppercase text-center">Tümünü Gör</h4>
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Proje Görselleri</h3>
            <div class="row">

                <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                    <div class="section_1_gallery_grid">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/AdminLTE-3.0.4/galery/1.png">
                            <div class="section_1_gallery_grid1">
                                <img src="~/AdminLTE-3.0.4/galery/1.png" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Aç</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/AdminLTE-3.0.4/galery/2.png">
                            <div class="section_1_gallery_grid1">
                                <img src="~/AdminLTE-3.0.4/galery/2.png" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Aç</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/AdminLTE-3.0.4/galery/3.png">
                            <div class="section_1_gallery_grid1">
                                <img src="~/AdminLTE-3.0.4/galery/3.png" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Aç</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                    <div class="section_1_gallery_grid">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/AdminLTE-3.0.4/galery/4.png">
                            <div class="section_1_gallery_grid1">
                                <img src="~/AdminLTE-3.0.4/galery/4.png" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Aç</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/AdminLTE-3.0.4/galery/5.png">
                            <div class="section_1_gallery_grid1">
                                <img src="~/AdminLTE-3.0.4/galery/5.png" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Aç</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/AdminLTE-3.0.4/galery/6.png">
                            <div class="section_1_gallery_grid1">
                                <img src="~/AdminLTE-3.0.4/galery/6.png" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Aç</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                    <div class="section_1_gallery_grid">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/AdminLTE-3.0.4/galery/7.png">
                            <div class="section_1_gallery_grid1">
                                <img src="~/AdminLTE-3.0.4/galery/7.png" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Aç</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/AdminLTE-3.0.4/galery/8.png">
                            <div class="section_1_gallery_grid1">
                                <img src="~/AdminLTE-3.0.4/galery/8.png" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Aç</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/AdminLTE-3.0.4/galery/9.png">
                            <div class="section_1_gallery_grid1">
                                <img src="~/AdminLTE-3.0.4/galery/9.png" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>Aç</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                    
                        <div class="section_1_gallery_grid" data-aos="zoom-in">
                            <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/AdminLTE-3.0.4/galery/12.png">
                                <div class="section_1_gallery_grid1">
                                    <img src="~/AdminLTE-3.0.4/galery/12.png" alt=" " class="img-fluid" />
                                    <div class="proj_gallery_grid1_pos">
                                        <h3>Aç</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    </div>

                    <!--end portfolio-area -->
                </div>
                <!-- //gallery container -->
            

    </section>
    <!-- //gallery -->
    <!--/stats-->
    <section class="stats py-lg-5 py-4" id="stats">
        <div class="gallery-inner container py-md-5 py-4">
            <div class="row mt-lg-5 stats-con text-white">
                <div class="col-sm-3 col-6 stats_info counter_grid">

                    <i class="far fa-lightbulb"></i>
                    <p class="counter">@ViewBag.value</p>
                    <h4>Yorum Sayısı</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid1">

                    <i class="far fa-heart"></i>
                    <p class="counter">@ViewBag.value2</p>
                    <h4>Başlık Sayısı</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid">

                    <i class="fas fa-magic"></i>
                    <p class="counter">@ViewBag.value3</p>
                    <h4>Yazar Sayısı</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid2">

                    <i class="far fa-smile"></i>
                    <p class="counter">@ViewBag.value4</p>
                    <h4>Kategori Sayısı</h4>

                </div>
            </div>
        </div>
    </section>
    <!--//stats-->
    <!-- /testimonials -->
    <div class="testimonials py-lg-5 py-4" id="clients">
        <div class="testimonials-inner container py-lg-4 py-3">
            <h4 class="sub-tittle-w3 text-uppercase text-center">Yorumlar</h4>
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Bizim İçin Ne Diyorlar</h3>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="testimonials_grid center">
                            <div class="testimonials_grid-inn text-uppercase">
                                <i class="fas fa-quote-left"></i>
                                <p>Gerçekten son zamanlarda gördüğüm en güzel sözlük sitelerinden biri, bundan sonra burada daha da çok vakit geçireceğimden eminim.</p>
                            </div>
                            <h3>Murat Gökhan Olgunöz </h3>

                            <label>Türkiye</label>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonials_grid text-center">
                            <div class="testimonials_grid-inn text-uppercase">
                                <i class="fas fa-quote-left"></i>
                                <p>I really like your dictionary site. Wonderful deer related to the Lucifer series will return, I say don't miss it.</p>
                            </div>
                            <h3>
                                Tom Ellis

                            </h3>
                            <label>United States</label>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonials_grid">
                            <div class="testimonials_grid-inn text-uppercase">
                                <i class="fas fa-quote-left"></i>
                                <p>Bugüne dek geliştirdiğim en güzel sitelerden biri diyebilirim, kesinlikle herkesin hoşuna gideceğine inanıyorum.</p>

                            </div>
                            <h3>
                                Kadir Demirel

                            </h3>
                            <label>Türkiye</label>

                        </div>
                    </div>
                    <a class="carousel-control-prev test" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="fas fa-long-arrow-alt-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next test" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="fas fa-long-arrow-alt-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>

                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- //testimonials -->
    <!-- /Contact-->
    <section class="contact py-lg-5 py-md-5 py-3" id="contact">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-3">
                <h4 class="sub-tittle-w3 text-uppercase text-center">Bize Ulaşın</h4>
                <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">İletişim</h3>

                <div class="contact_grid_right">
                    <form action="/Contact/ContactUs/" method="post">
                        <div class="row contact_left_grid">
                            <div class="col-md-6 con-left" data-aos="fade-up">
                                <div class="form-group">

                                    <input class="form-control" type="text" name="UserName" placeholder="Adınız" required="">
                                </div>
                                <div class="form-group">

                                    <input class="form-control" type="email" name="UserMail" placeholder="Mail Adresiniz" required="">
                                </div>
                                <div class="form-group">

                                    <input class="form-control" type="text" name="Subject" placeholder="Konu" required="">
                                </div>
                            </div>
                            <div class="col-md-6 con-right" data-aos="fade-up">
                                <div class="form-group">
                                    <textarea id="textarea" name="Message" placeholder="Mesajınız" required=""></textarea>
                                </div>
                            </div>
                            <div class="sub-honey mx-auto mt-3">
                                <input class="form-control" type="submit" value="Gönder">

                            </div>
                        </div>
                    </form>
                </div>
                <div class="address row mt-lg-5">

                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="far fa-map"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Address</h6>
                                <p>
                                    Mersin, Türkiye

                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Email</h6>
                                <p>
                                    Email :
                                    <a href="mailto:example@email.com"> kadirdemirel_17@hotmail.com</a>

                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Telefon</h6>
                                <p>505 000 0000</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //Contact -->
    <!--/footer-->
    <footer class="footer text-left">
        <div class="container py-4 py-sm-5">

            <div class="row py-sm-4 py-3">
                <div class="col-lg-2 col-md-4">
                    <ul class="list-footer" data-aos="fade-up">
                        <li>
                            <a href="#home" class="nav-link scroll">
                                Ana Sayfa
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#about" class="nav-link scroll">
                                Geliştirme Araçları
                            </a>
                        </li>
                        <li class="my-2">
                            <a class="nav-link scroll" href="#experience">Yol Haritası</a>
                        </li>
                        <li class="my-2">
                            <a href="#services" class="nav-link scroll">
                                Hakkında
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="#projects" class="nav-link scroll">
                                Görseller
                            </a>
                        </li>
                        <li>
                            <a href="#contact" class="nav-link scroll">
                                İletişim
                            </a>
                        </li>
                        <li>
                            <a href="#/Home/Headings/1" class="nav-link scroll">
                                Sözlük
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mt-sm-5">
                    <ul class="list-footer" data-aos="fade-up">
                        <li>
                            <a href="#register" data-toggle="modal" data-target="#exampleModalCenter" class="nav-link scroll">
                                Giriş Yap
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter2" class="nav-link">
                                Kayıt Ol
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="offset-lg-4"></div>
                <div class="col-lg-4 footer-end-grid mt-md-0 mt-sm-5" data-aos="fade-up">
                    <h2>
                        <a href="index.html">
                            <i class="fas fa-crosshairs"></i> Vanila
                        </a>
                    </h2>
                </div>
                <div class="col-lg-4 footer-end-grid mt-md-0 mt-sm-5" data-aos="fade-up">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.8189677522914!2d32.79982501563817!3d39.923067293437796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d348c9670550b3%3A0x6606f8db0b5e5738!2zTWlsbGV0IEvDvHTDvHBoYW5lc2k!5e0!3m2!1str!2str!4v1630145931883!5m2!1str!2str" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between pt-lg-3  footer-bottom-cpy">
                <div class="copy-right-w3ls">
                    <p>
                        © 2021 Vanila Sözlük | Tüm Hakları Saklıdır.


                    </p>
                </div>
                <div class="social-content pb-md-0 pb-4">
                    <ul class="social-icons text-center d-flex">
                        <li class="ml-lg-5">
                            <a href="https://github.com/kadirdemirel">
                                <i class="fab fa-github-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/kadir-demirel/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--//footer-->
    <!--model-forms-->
    <!--/Login-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Şimdi Giriş Yap</h5>
                        <form action="/Login/WriterLogin/" method="post">
                            <div class="form-group">
                                <label class="mb-2">Mail Adresi</label>
                                <input type="email" name="WriterMail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required="">
                                <small id="emailHelp" class="form-text text-muted">
                                    E-postanızı asla başkalarıyla paylaşmayacağız.
                                </small>
                            </div>
                            <div class="form-group">
                                <label class="mb-2">Şifre</label>
                                <input type="password" name="WriterPassword" class="form-control" id="exampleInputPassword1" placeholder="Şifre" required="">
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Beni Kontrol Et</label>
                            </div>
                            <button type="submit" class="btn btn-primary submit mb-4">Giriş Yap</button>
                            <p class="text-center pb-4">
                                <a href="/Writer/Register/" data-toggle="modal" data-target="#exampleModalCenter2">
                                    Hesabınız yok mu?
                                </a>
                                <a href="/Login/Index/" class="btn btn-outline-success">
                                   Admin Paneli
                                </a>
                            </p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Login-->
    <!--/Register-->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-center mb-4">Şimdi Kayıt Ol</h5>
                        <form action="/Writer/Register/" method="post">
                            <div class="form-group">
                                <label>Ad</label>

                                <input type="text" name="UserName" class="form-control" id="validationDefault01" placeholder="Ad" required="">
                            </div>
                            <div class="form-group">
                                <label>Soyad</label>
                                <input type="text" name="WriterSurname" class="form-control" id="validationDefault02" placeholder="Soyad" required="">
                            </div>
                            <div class="form-group">
                                <label class="mb-2">Mail Adresi</label>
                                <input type="email" name="WriterMail" class="form-control" id="email01" placeholder="Mail Adresi" required="">
                            </div>
                            <div class="form-group">
                                <label class="mb-2">Şifre</label>
                                <input type="password" name="WriterPassword" class="form-control" id="password1" placeholder="Şifre" required="">
                            </div>
                            <div class="form-group">
                                <label>Yazar Hakkında</label>
                                <input type="text" name="WriterAbout" class="form-control" id="about01" placeholder="Hakkında" required="">
                            </div>
                            <div class="form-group">
                                <label>Ünvan</label>
                                <input type="text" name="WriterTitle" class="form-control" id="about01" placeholder="Ünvan" required="">
                            </div>



                            <button type="submit" class="btn btn-primary submit mb-4">Kayıt Ol</button>
                            <p class="text-center pb-4">

                            </p>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Register-->

    <script src="~/AdminLTE-3.0.4/webHome/js/jquery-2.2.3.min.js"></script>
    <!-- banner-type-text -->
    <script src='~/AdminLTE-3.0.4/webHome/js/aos.js'></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            duration: 1000
        });

    </script>
    <!-- sticky nav bar-->
    <script>
        $(() => {

            //On Scroll Functionality
            $(window).scroll(() => {
                var windowTop = $(window).scrollTop();
                windowTop > 100 ? $('nav').addClass('navShadow') : $('nav').removeClass('navShadow');
                windowTop > 100 ? $('ul.nav-honey').css('top', '50px') : $('ul.nav-honey').css('top', '160px');
            });

            //Click Logo To Scroll To Top
            $('#logo').on('click', () => {
                $('html,body').animate({
                    scrollTop: 0
                }, 500);
            });

            //            //Smooth Scrolling Using Navigation Menu
            //            $('a[href*="#"]').on('click', function(e) {
            //                $('html,body').animate({
            //                    scrollTop: $($(this).attr('href')).offset().top - 100
            //                }, 500);
            //                e.preventDefault();
            //            });

            //Toggle Menu
            $('#menu-toggle').on('click', () => {
                $('#menu-toggle').toggleClass('closeMenu');
                $('ul').toggleClass('showMenu');

                $('li').on('click', () => {
                    $('ul').removeClass('showMenu');
                    $('#menu-toggle').removeClass('closeMenu');
                });
            });

        });

    </script>
    <!-- //sticky nav bar -->
    <!-- Include jQuery Timeline Plugin -->
    <script src="~/AdminLTE-3.0.4/webHome/js/jquery.roadmap.js"></script>

    <script>
        $(document).ready(function () {

            var events = [{
                date: 'Nisan 2021 - Başlangıç',
                content: 'İş Tanımı <small>Projenin Oluşturulması</small>'
            },
            {
                date: 'Nisan 2021',
                content: 'İş Tanımı <small>Katmanlı Mimari Oluşturulması</small>'
            },
            {
                date: 'Nisan 2021',
                content: 'İş Tanımı <small>Veritabanı Tasarımı</small>'
            },
            {
                date: 'Mayıs 2021',
                content: 'İş Tanımı <small>Admin Modülünün Kodlanması</small>'
            },
            {
                date: 'Mayıs 2021',
                content: 'İş Tanımı <small>Authentication İşlemleri-Rolleme</small>'
            },
            {
                date: 'Mayıs 2021',
                content: 'İş Tanımı <small>Yazar Modülünün Kodlanması</small>'
                },
                {
                    date: 'Mayıs 2021',
                    content: 'İş Tanımı <small>Sayfalama ve Hata Sayfası Konfigürasyonu</small>'
                },
            {
                date: 'Mayıs 2021',
                content: 'İş Tanımı <small>Vitrin Sayfası İşlemleri</small>'
            },

            {
                date: 'Haziran 2021',
                content: 'İş Tanımı <small>IFrame, Google Chartlar ve Raporlama İşlemleri</small>'
            },

            {
                date: 'Haziran 2021',
                content: 'İş Tanımı <small>Yetkilendirme İşlemleri</small>'
            },
            {
                date: 'Haziran 2021',
                content: 'İş Tanımı <small>Projenin Canlıya Taşınması</small>'
            },
                {
                    date: 'Haziran 2021',
                    content: 'İş Tanımı <small>Final</small>'
                },
            ];

            $('#my-timeline').roadmap(events, {
                eventsPerSlide: 6,
                slide: 1,
                prevArrow: '<i class="fas fa-chevron-left"></i>',
                nextArrow: '<i class="fas fa-chevron-right"></i>'
            });
        });

    </script>
    <!-- simpleLightbox -->
    <script src="~/AdminLTE-3.0.4/webHome/js/simpleLightbox.js"></script>
    <script>
        $('.proj_gallery_grid a').simpleLightbox();

    </script>
    <!-- //simpleLightbox -->
    <!-- stats -->
    <script src="~/AdminLTE-3.0.4/webHome/js/jquery.waypoints.min.js"></script>
    <script src="~/AdminLTE-3.0.4/webHome/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();

    </script>
    <!-- //stats -->
    <!--/ start-smoth-scrolling -->
    <script src="~/AdminLTE-3.0.4/webHome/js/move-top.js"></script>
    <script src="~/AdminLTE-3.0.4/webHome/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            /*
                                    var defaults = {
                                          containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear'
                                     };
                                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });

    </script>
    <!--// end-smoth-scrolling -->
    <!-- //js -->

    <script src="~/AdminLTE-3.0.4/webHome/js/bootstrap.js"></script>

</body>

</html>