
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 Profilim</p>
<p>#2 Tüm başlıklarda Paging</p>
<p>#3 Mesajlarda Session</p>
<p>#4 Oturum Yönetiminin mimariye taşınması</p>
<p>#5 Token kullanımı</p>

